---
layout: page
title: Blog
---
<section class="list">
{% if site.posts.size == 0 %}
	<p class="text-center">Nothing published yet!</p>
{% else %}
	{%- assign blog_posts = site.posts | where: "category", "blog" | where_exp: "post", "post.hidden != true" -%}

	{% for post in blog_posts %}
		{% if post.pin == true %}
			{% include blog-post.html %}
		{% endif %}
	{% endfor %}

	{% for post in blog_posts %}
		{% if post.pin != true %}
			{% include blog-post.html %}
		{% endif %}
	{% endfor %}
{% endif %}

</section>
